<h1>Informes</h1>

<%= link_to 'Generar Informe', new_informe_path, :class => "btn btn-info" %>
<Table class="table">
  <tr>
    <thead class="thead-dark">
    <th>N° </th>
    <th> Nombre Estudiante </th>
    <th> Carrera </th>
    <th> Opciones </th>
  </thead>
  </tr>

  <% @informes.each do |t| %>
 
  <% if (t.user.id==current_user.id && t.estado==true) || current_user.rol.descripcion=='Administrador' %>
  <tr>
  <td><%= t.id %></td>
  <td><%= t.estudiante.nombreestudiante %></td>
  <td><%= t.estudiante.carrera.nombrecarrera %></td>
 
  <td>


  <%= link_to 'Mostrar', informe_url(t), class:"btn btn-outline-success  btn-sm" %>


    
	<% unless t.estado.nil? %>
	<% if t.estado == true %>
			
	  <%= link_to 'Cambiar estado', edit_informe_url(t), class: "btn btn-danger btn-sm",
                        method: :delete, data: {confirm: '¿Estas seguro?'} %>
    <% end %>
	  <% end %>
</td>
</tr>
<%end%>
<%end%>
</table>