<h1>Informes <% if current_user.rol.descripcion!='Administrador'%><%= current_user.rol.descripcion%><%end%></h1>
<%= link_to 'Generar Informe', new_informe_path, :class => "btn btn-info" %>
<Table class="table">
  <tr>
    <thead class="thead-dark">
    <th>N° </th>
    <th> Nombre Estudiante </th>
    <th> Carrera </th>
    <th> Nombre Profesional</th>
    <th> Estado </th>
    <th> Opciones </th>
  </thead>
  </tr>

  <% @informes.each do |t| %>
  
  <% if (t.user.rol.descripcion==current_user.rol.descripcion && t.estado==true) || current_user.rol.descripcion=='Administrador' %>
  <tr>
  <td><%= t.id %></td>
  <td><%= t.estudiante.nombreestudiante %> <%= t.estudiante.apellidopa %> <%= t.estudiante.apellidoma %></td>
  <td><%= t.estudiante.carrera.nombrecarrera %></td>
  <td><%= t.user.nombre %> <%= t.user.apellidopa %> <t.user.apellidoma%></td>
  <td>
  <%if t.estado ==true %>
 <p class= "text-success"> Activo</p> 
 <%else%> 
 <p class="text-danger"> Eliminado</p>
<%end%>
  </td>
  <td>
  <%= link_to 'Mostrar', informe_url(t), class:"btn btn-outline-success  btn-sm" %>


    
	<% unless t.estado.nil? %>
	<% if t.estado == true %>
			
	  <%= link_to 'Eliminar', edit_informe_url(t), class: "btn btn-danger btn-sm",
                        method: :delete, data: {confirm: '¿Estas seguro?'} %>
    <% end %>
	  <% end %>
</td>
</tr>
<%end%>
<%end%>
</table>