<h1> Crear informe</h1>


<%=form_for(@informes) do |f| %>

  <div class="form-group">
    <label for="formGroupExampleInput">Estudiante id </label>
    <%= f.text_field:estudianteid, placeholder:"Estudiante id" , class:"form-control"  %>

  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Usuario id </label>
    <%= f.text_field:usuarioid, placeholder:"Usuario" , class:"form-control"  %>

  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 1 </label>
    <%= f.text_field:nota1, placeholder:"Nota 1" , class:"form-control"  %>
  </div>


  <div class="form-group">
    <label for="formGroupExampleInput">Nota 2 </label>
    <%= f.text_field:nota2, placeholder:"Nota 2" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 3 </label>
    <%= f.text_field:nota3, placeholder:"Nota 3" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 4 </label>
    <%= f.text_field:nota4, placeholder:"Nota 4" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 5 </label>
    <%= f.text_field:nota5, placeholder:"Nota 5" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 6 </label>
    <%= f.text_field:nota6, placeholder:"Nota 6" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 7 </label>
    <%= f.text_field:nota7, placeholder:"Nota 7" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 8 </label>
    <%= f.text_field:nota8, placeholder:"Nota 8" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 9 </label>
    <%= f.text_field:nota9, placeholder:"Nota 9" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 10 </label>
    <%= f.text_field:nota10, placeholder:"Nota 10" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 11 </label>
    <%= f.text_field:nota11, placeholder:"Nota 11" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 12 </label>
    <%= f.text_field:nota12, placeholder:"Nota 12" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 13 </label>
    <%= f.text_field:nota13, placeholder:"Nota 13" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 14 </label>
    <%= f.text_field:nota14, placeholder:"Nota 14" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Nota 15 </label>
    <%= f.text_field:nota15, placeholder:"Nota 15" , class:"form-control"  %>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput">Observacion </label>
    <%= f.text_field:observacion, placeholder:"Observacion" , class:"form-control"  %>

  </div>

      <%= f.submit "Guardar" ,class:"btn btn-primary" %>

<%end%>