<h1> Crear informe </h1>

<%flash.each do |name , msg| %>
  <div class="alert alert-<%= name %>">
    <%= msg %>
  </div>
<% end %>

<% if current_user.rol.descripcion == "Administrador" %>
<%=form_for( @informes) do |f| %>
  

  <div class="row">
    <div class="col-md-3">
       <% user_id= current_user.id %>
        <label for="formGroupExampleInput">Pregunta 1 </label>
        <%= f.select(:nota1,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]],{:include_blank => "N°1 "},{class: "btn btn-secundary btn-sm"})%> 
        <br>
        <label for="formGroupExampleInput">Pregunta 2 </label>
        <%= f.select(:nota2,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°2 "},{class: "btn btn-secundary btn-sm"} )%>
        <br>

        <label for="formGroupExampleInput">Pregunta 3 </label>
        <%= f.select(:nota3,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°3 "},{class: "btn btn-secundary btn-sm"} ) %>
        <br>

  
        <label for="formGroupExampleInput">Pregunta 4 </label>
        <%= f.select(:nota4,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°4 "},{class: "btn btn-secundary btn-sm"} ) %>
        <br>

  
        <label for="formGroupExampleInput">Pregunta 5 </label>
        <%= f.select(:nota5,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°5 "},{class: "btn btn-secundary btn-sm"} )%>
        <br>


    </div>
 <div class="col-md-3">
  
       <label for="formGroupExampleInput">Pregunta 6 </label>
       <%= f.select(:nota6,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°6 "},{class: "btn btn-secundary btn-sm"} )%>
       <br>
  
       <label for="formGroupExampleInput">Pregunta 7 </label>
       <%= f.select(:nota7,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°7 "},{class: "btn btn-secundary btn-sm"} )%>
       <br>
  
       <label for="formGroupExampleInput">Pregunta 8 </label>
       <%= f.select(:nota8,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°8 "},{class: "btn btn-Primary btn-sm"} )%>
       <br>
  
       <label for="formGroupExampleInput">Pregunta 9 </label>
       <%= f.select(:nota9,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°9 "},{class: "btn btn-secundary btn-sm"} )%>
       <br>

       <label for="formGroupExampleInput">Pregunta 10 </label>
       <%= f.select(:nota10,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°10"},{class: "btn btn-secundary btn-sm"} )%>
  </div>
  <br>
 <div class="col-md-3">
  
    <label for="formGroupExampleInput">Pregunta 11 </label>
    <%= f.select(:nota11,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°11"},{class: "btn btn-secundary btn-sm"} )%>
    <br>
 
    <label for="formGroupExampleInput">Pregunta 12 </label>
    <%= f.select(:nota12,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°12"},{class: "btn btn-secundary btn-sm"} )%>
    <br>

    <label for="formGroupExampleInput">Pregunta 13 </label>
    <%= f.select(:nota13,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°13"},{class: "btn btn-secundary btn-sm"} )%>
    <br>
 
    <label for="formGroupExampleInput">Pregunta 14 </label>
    <%= f.select(:nota14,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°14"},{class: "btn btn-secundary btn-sm"} )%>
    <br>

  
    <label for="formGroupExampleInput">Pregunta 15 </label>
    <%= f.select(:nota15,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°15"},{class: "btn btn-secundary btn-sm"} )%>
    <br>
  </div>
</div>

  
    <label for="formGroupExampleInput">Observacion </label>
    <%= f.text_area:observacion, placeholder:"Agregar Notas" , class:"form-control"  %>

  

      <%= f.submit "Guardar" ,class:"btn btn-primary" %>
     
<%end%>

<%end%>

<% if current_user.rol.descripcion == "Tutor" %>
<%=form_for(@informes) do |f| %>

  <div class="row">
    <div class="col-md-3">
    
        <label for="formGroupExampleInput">Pregunta 1 </label>
        <%= f.select(:nota1,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]],{:include_blank => "N°1"},{class: "btn btn-secundary btn-sm"})%> 
  
        <label for="formGroupExampleInput">Pregunta 2 </label>
        <%= f.select(:nota2,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°2"},{class: "btn btn-secundary btn-sm"} )%>
 

        <label for="formGroupExampleInput">Pregunta 3 </label>
        <%= f.select(:nota3,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°3"},{class: "btn btn-secundary btn-sm"} ) %>
  

  
        <label for="formGroupExampleInput">Pregunta 4 </label>
        <%= f.select(:nota4,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°4"},{class: "btn btn-secundary btn-sm"} ) %>
  

  
        <label for="formGroupExampleInput">Pregunta 5 </label>
        <%= f.select(:nota5,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°5"},{class: "btn btn-secundary btn-sm"} )%>
  
    </div>
 <div class="col-md-3">
  
       <label for="formGroupExampleInput">Pregunta 6 </label>
       <%= f.select(:nota6,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°6"},{class: "btn btn-secundary btn-sm"} )%>
 
  
       <label for="formGroupExampleInput">Pregunta 7 </label>
       <%= f.select(:nota7,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°7"},{class: "btn btn-secundary btn-sm"} )%>
  
  
       <label for="formGroupExampleInput">Pregunta 8 </label>
       <%= f.select(:nota8,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°8"},{class: "btn btn-Primary btn-sm"} )%>
  
  
       <label for="formGroupExampleInput">Pregunta 9 </label>
       <%= f.select(:nota9,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°9"},{class: "btn btn-secundary btn-sm"} )%>
  

       <label for="formGroupExampleInput">Pregunta 10 </label>
       <%= f.select(:nota10,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°10"},{class: "btn btn-secundary btn-sm"} )%>
  </div>

 <div class="col-md-3">
  
    <label for="formGroupExampleInput">Pregunta 11 </label>
    <%= f.select(:nota11,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°11"},{class: "btn btn-secundary btn-sm"} )%>
  
 
    <label for="formGroupExampleInput">Pregunta 12 </label>
    <%= f.select(:nota12,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°12"},{class: "btn btn-secundary btn-sm"} )%>
  

    <label for="formGroupExampleInput">Pregunta 13 </label>
    <%= f.select(:nota13,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°13"},{class: "btn btn-secundary btn-sm"} )%>
  
 
    <label for="formGroupExampleInput">Pregunta 14 </label>
    <%= f.select(:nota14,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°14"},{class: "btn btn-secundary btn-sm"} )%>
  

  
    <label for="formGroupExampleInput">Pregunta 15 </label>
    <%= f.select(:nota15,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°15"},{class: "btn btn-secundary btn-sm"} )%>
 
  </div>
</div>

  
    <label for="formGroupExampleInput">Observacion </label>
    <%= f.text_area:observacion, placeholder:"Agregar Notas" , class:"form-control"  %>

  

      <%= f.submit "Guardar" ,class:"btn btn-primary" %>

<%end%>
<%end%>

<% if current_user.rol.descripcion == "Asistente Social" %>
<%=form_for(@informes) do |f| %>

  <div class="row">
    <div class="col-md-3">
    
        <label for="formGroupExampleInput">Pregunta 1 </label>
        <%= f.select(:nota1,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]],{:include_blank => "N°1"},{class: "btn btn-secundary btn-sm"})%> 
  
        <label for="formGroupExampleInput">Pregunta 2 </label>
        <%= f.select(:nota2,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°2"},{class: "btn btn-secundary btn-sm"} )%>
 

        <label for="formGroupExampleInput">Pregunta 3 </label>
        <%= f.select(:nota3,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°3"},{class: "btn btn-secundary btn-sm"} ) %>
  

  
        <label for="formGroupExampleInput">Pregunta 4 </label>
        <%= f.select(:nota4,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°4"},{class: "btn btn-secundary btn-sm"} ) %>
  

  
        <label for="formGroupExampleInput">Pregunta 5 </label>
        <%= f.select(:nota5,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°5"},{class: "btn btn-secundary btn-sm"} )%>
  
    </div>
 <div class="col-md-3">
  
       <label for="formGroupExampleInput">Pregunta 6 </label>
       <%= f.select(:nota6,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°6"},{class: "btn btn-secundary btn-sm"} )%>
 
  
       <label for="formGroupExampleInput">Pregunta 7 </label>
       <%= f.select(:nota7,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°7"},{class: "btn btn-secundary btn-sm"} )%>
  
  
       <label for="formGroupExampleInput">Pregunta 8 </label>
       <%= f.select(:nota8,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°8"},{class: "btn btn-Primary btn-sm"} )%>
  
  
       <label for="formGroupExampleInput">Pregunta 9 </label>
       <%= f.select(:nota9,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°9"},{class: "btn btn-secundary btn-sm"} )%>
  

       <label for="formGroupExampleInput">Pregunta 10 </label>
       <%= f.select(:nota10,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°10"},{class: "btn btn-secundary btn-sm"} )%>
  </div>

 <div class="col-md-3">
  
    <label for="formGroupExampleInput">Pregunta 11 </label>
    <%= f.select(:nota11,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°11"},{class: "btn btn-secundary btn-sm"} )%>
  
 
    <label for="formGroupExampleInput">Pregunta 12 </label>
    <%= f.select(:nota12,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°12"},{class: "btn btn-secundary btn-sm"} )%>
  

    <label for="formGroupExampleInput">Pregunta 13 </label>
    <%= f.select(:nota13,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°13"},{class: "btn btn-secundary btn-sm"} )%>
  
 
    <label for="formGroupExampleInput">Pregunta 14 </label>
    <%= f.select(:nota14,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°14"},{class: "btn btn-secundary btn-sm"} )%>
  

  
    <label for="formGroupExampleInput">Pregunta 15 </label>
    <%= f.select(:nota15,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]], {:include_blank => "N°15"},{class: "btn btn-secundary btn-sm"} )%>
 
  </div>
</div>

  
    <label for="formGroupExampleInput">Observacion </label>
    <%= f.text_area:observacion, placeholder:"Agregar Notas" , class:"form-control"  %>

  

      <%= f.submit "Guardar" ,class:"btn btn-primary" %>

<%end%>
<%end%>