<%= wicked_pdf_image_tag "utemi.png", :size => "280x200", :align=>"left" %>
<br><br><br><br><br><br><br>
<h2 class="pull-center">&nbsp &nbsp &nbsp<u>Informe Profesional </u></h2>
<h2 ><u>Plan de Apoyo Estudiantil</u></h1>

<br>
<br>

<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<link rel="stylesheet" type="text/scss" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<meta charset="utf-8">
<font size=4><center>  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  N° Informe : <%= @informe.id %></center></font><br>
<font size=4><center>&nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Fecha : <%= @informe.created_at.strftime("%d-%m-%Y Hora: %H:%M:%S") %></center></font><br>

<h3><li><u>Profesional</h4></u> <p>&nbsp &nbsp &nbsp &nbsp &nbsp  <font size=4> Nombre : <%= @informe.user.nombre %> <%= @informe.user.apellidopa %> <%= @informe.user.apellidoma %></font></li><br><br>
<font size=4>&nbsp &nbsp &nbsp &nbsp Especialidad : <%= @informe.user.rol.descripcion%></font>
<h3><li><u>Datos Estudiante</u></li></h4>

<font size=4>&nbsp &nbsp &nbsp &nbsp    Nombre : <%= @informe.estudiante.nombreestudiante %> <%= @informe.estudiante.apellidopa %> <%= @informe.estudiante.apellidoma %></font><br><br>
<font size=4>&nbsp &nbsp &nbsp &nbsp      Carrera : <%=@informe.estudiante.carrera.nombrecarrera%></font><br><br>
<font size=4>&nbsp &nbsp &nbsp &nbsp      Rut &nbsp &nbsp &nbsp    : <%=@informe.estudiante.rut%></font><br><br>

<% if @informe.user.rol.descripcion=='Sicologo' %>

<br><br>
<h3><li><u>Habitos de Estudio</u></li></h3>

<table class="table" >
<tr><td> Si tiene problemas con materias, ¿que tan grave es?.</td> 
<td left:20px;> <%= @informe.nota1 %></td></tr>
<td></td>
<tr><td>¿Cómo considera que es la comprensión de los contenidos que estudia?.</td> 
<td><%= @informe.nota2  %></td></tr>
<td></td>
<tr><td>¿En relación al espacio físico de su lugar de estudio, ¿cómo lo califica?.</td>  
<td><%= @informe.nota3 %></td></tr>
<td></td>
<tr><td>¿Cómo es el tiempo que dedica a estudiar?</td>  
<td><%= @informe.nota4 %></td></tr>
<td></td>
<tr><td >¿Cómo estima que son sus calificaciones en función de su estudio y esfuerzo?.  &nbsp  </td>
<td> <%= @informe.nota5%></td></tr>
<td></td>
<tr><td><b>Promedio Habitos de Estudio: </b></td>
<td><b><%=@informe.promhabitos%></b></td></tr>

</table>
<br><br>
<h3><li><u>Vocación</u></li></h3>
<table class= "table">
<tr><td>¿Cómo considera que fue la elección que hizo de la carrera que cursa?.</td>
<td><%= @informe.nota6 %></td> </tr>
<td></td>
<tr><td>Con respecto a su elección universitaria, ¿cómo la califica hoy? </td>
<td><%= @informe.nota7 %></td> </tr>
<td></td>
<tr><td>¿Cómo  piensa que son los contenidos de las materias que imparte su carrera?. </td> 
<td> <%= @informe.nota8 %></td> </tr>
<td></td>
<tr><td >¿Qué tan drásticos cree que  han sido los cambios a lo largo del tiempo en relación a su vocación?.  </td>
<td> <%= @informe.nota9 %></td> </tr>
<td></td>
<tr><td >¿Cómo considera su nivel de vocación de elección universitaria antes de ingresar a la educación superior comparada con hoy?. </td>
<td> <%= @informe.nota10 %></td> </tr>
<td></td>
<tr><td><b>Promedio Vocación: </b></td>
<td><b><%=@informe.promvocacion%></b></td></tr>
<td></td>
</table>

<br><br><br><br><br><br><br><br><br>

<table class= "table">
<h3><li><u>Salud Fisica y Mental</u></li></h3>
<tr><td>¿Qué nivel de concentración presenta en la sala de clases?.</td>
<td> <%= @informe.nota11 %></td> </tr>
<tr><td >¿Cómo considera que es su salud mental luego de periodos prolongados de estudio?.</td>  
<td> <%= @informe.nota12 %></td> </tr>
<tr><td >Referente a su salud física actual, ¿de qué manera cree que afecta su rendimiento académico?.</td>  
<td> <%= @informe.nota13 %></td> </tr>
<tr><td >¿Cómo se siente cuando debe expresar su opinión frente a sus compañeros?. </td> 
<td> <%= @informe.nota14 %></td> </tr>
<tr><td >¿Cómo estima que es la relación entre su salud física y mental?.</td>
<td> <%= @informe.nota15 %></td> </tr>
<tr><td><b>Promedio Salud Fisica y Mental: </b></td>
<td><b> <%=@informe.promsalud%></b></td></tr>
</table>
<h4><li><u>Observación</u></li></h4>
<p><%=@informe.observacion%><p>
<br><br><br><br>

<center><h3>__________________________________</h3></center>
<center><h3><%=@informe.user.nombre%> <%=@informe.user.apellidopa%> <%=@informe.user.apellidoma%></center></h3>
<center><h3><%=@informe.user.rol.descripcion%></center></h3>
<center><h3><%= Time.now.strftime("%d/%m/%Y") %></center></h3>
<%end%>



<% if @informe.user.rol.descripcion=='Asistente Social' %>

<br><br>
<h3><li><u>Habitos de Estudio</u></li></h3>

<table class="table" >
<tr><td> Pensando en las últimas semanas, ¿cómo considera que es el tiempo que destinó para estudiar y preparar sus exámenes?.</td> 
<td left:20px;> <%= @informe.nota1 %></td></tr>
<td></td>
<tr><td>¿Cómo ha que sido el trabajo colaborativo con sus compañeros al momento de estudiar en los últimos días?</td> 
<td><%= @informe.nota2  %></td></tr>
<td></td>
<tr><td>¿Cómo califica la atención- concentración al momento de estudiar?</td>  
<td><%= @informe.nota3 %></td></tr>
<td></td>
<tr><td>En los últimos días, ¿estima que los problemas afectivos han perjudicado su rendimiento?</td>  
<td><%= @informe.nota4 %></td></tr>
<td></td>
<tr><td >En el estudio de las últimas evaluaciones, ¿cómo consideras que ha trabajado con métodos de estudio?(mapas conceptuales, resumen, etc.)  &nbsp  </td>
<td> <%= @informe.nota5%></td></tr>
<td></td>
<tr><td><b>Promedio Habitos de Estudio: </b></td>
<td><b><%=@informe.promhabitos%></b></td></tr>

</table>
<br><br>
<h3><li><u>Vocación</u></li></h3>
<table class= "table">
<tr><td>A partir de lo aprendido en el último tiempo, ¿cómo cree que es la relación entre su vocación y preparación?.</td>
<td><%= @informe.nota6 %></td> </tr>
<td></td>
<tr><td>En los últimos días, ¿cómo se ha sentido con la decisión de estudiar la carrera que cursa? </td>
<td><%= @informe.nota7 %></td> </tr>
<td></td>
<tr><td>¿Cómo considera la preparación de las clases de los docentes? </td> 
<td> <%= @informe.nota8 %></td> </tr>
<td></td>
<tr><td >¿Cómo estima que es la relación de sus notas versus su preparación en el último tiempo?  </td>
<td> <%= @informe.nota9 %></td> </tr>
<td></td>
<tr><td >Pensando en las últimas semanas, ¿cómo ha sido el aporte social para el desarrollo vocacional? </td>
<td> <%= @informe.nota10 %></td> </tr>
<td></td>
<tr><td><b>Promedio Vocación: </b></td>
<td><b><%=@informe.promvocacion%></b></td></tr>
<td></td>
</table>

<br><br><br><br>

<table class= "table">
<h3><li><u>Salud Fisica y Mental</u></li></h3>
<tr><td>En la Sala de clases, si tiene problemas de concentracion, que tan frecuentes son ?</td>
<td> <%= @informe.nota11 %></td> </tr>
<tr><td >¿Siente malestar fisico o emocional al estar en la sala de clases con mas personas ?</td>  
<td> <%= @informe.nota12 %></td> </tr>
<tr><td >¿Ha dejado la actividad fisica o los estudios, solo por que no se siente bien emocionalmente ?</td>  
<td> <%= @informe.nota13 %></td> </tr>
<tr><td >¿Si tiene alteraciones de sueño, que tan frecuentes son ? </td> 
<td> <%= @informe.nota14 %></td> </tr>
<tr><td >¿Es capaz de expresar abiertamiente su opinion y compartir con compañeros ? </td>
<td> <%= @informe.nota15 %></td> </tr>
<tr><td><b>Promedio Salud Fisica y Mental: </b></td>
<td><b> <%=@informe.promsalud%></b></td></tr>
</table>

<h4><li><u>Observación</u></li></h4>
<table>
<td align="justify"><%=@informe.observacion%></td>
</table>
<br><br><br><br><br><br>

<center><h3>__________________________________</h3></center>
<center><h3><%=@informe.user.nombre%> <%=@informe.user.apellidopa%> <%=@informe.user.apellidoma%></center></h3>
<center><h3><%=@informe.user.rol.descripcion%></center></h3>
<center><h3><%= Time.now.strftime("%d/%m/%Y") %></center></h3>
<%end%>



<% if @informe.user.rol.descripcion=='Tutor' %>

<br><br>
<h3><li><u>Habitos de Estudio</u></li></h3>

<table class="table" >
<tr><td> Referente al tiempo que ha dedicado al estudio estos últimos días, ¿cómo considera que han sido los resultados académicos?.</td> 
<td left:20px;> <%= @informe.nota1 %></td></tr>
<td></td>
<tr><td>En relación a la concentración cuando estudia, ¿qué nivel considera que logra alcanzar?</td> 
<td><%= @informe.nota2  %></td></tr>
<td></td>
<tr><td>¿Cómo considera que es su organización para estudiar y realizar trabajos? (horario de repaso, investigación, etc.)</td>  
<td><%= @informe.nota3 %></td></tr>
<td></td>
<tr><td¿Cómo es el espacio que destina para poder estudiar y realizar trabajos?</td>  
<td><%= @informe.nota4 %></td></tr>
<td></td>
<tr><td >¿Cómo considera que es su comprensión cuando estudia o realiza trabajos en horarios no adecuados? (día previo a una prueba o entrega de trabajos, en la madrugada, etc.) </td>
<td> <%= @informe.nota5%></td></tr>
<td></td>
<tr><td><b>Promedio Habitos de Estudio: </b></td>
<td><b><%=@informe.promhabitos%></b></td></tr>

</table>
<br><br>
<h3><li><u>Vocación</u></li></h3>
<table class= "table">
<tr><td>¿Cómo estima que ha sido su actitud al asistir a clases?.</td>
<td><%= @informe.nota6 %></td> </tr>
<td></td>
<tr><td>En función a las clases asistidas, ¿cómo cumplen con sus expectativas vocacionales? </td>
<td><%= @informe.nota7 %></td> </tr>
<td></td>
<tr><td>¿Cómo se ha sentido en los últimos días respecto a su decisión de cursar esta carrera universitaria? </td> 
<td> <%= @informe.nota8 %></td> </tr>
<td></td>
<tr><td >¿Cómo se siente luego de obtener una calificación que no esperaba? </td>
<td> <%= @informe.nota9 %></td> </tr>
<td></td>
<tr><td >En el último tiempo, ¿cómo considera que influye su vocación en el futuro laboral? </td>
<td> <%= @informe.nota10 %></td> </tr>
<td></td>
<tr><td><b>Promedio Vocación: </b></td>
<td><b><%=@informe.promvocacion%></b></td></tr>
<td></td>
</table>

<br><br><br><br>

<table class= "table">
<h3><li><u>Salud Fisica y Mental</u></li></h3>
<tr><td>¿Cómo cree que se relaciona con sus compañeros al momento de estudiar, aclarar dudas o solicitar contenidos?</td>
<td> <%= @informe.nota11 %></td> </tr>
<tr><td >¿Cómo considera que se ha alimentado estos últimos días en razón a su estado de ánimo?</td>  
<td> <%= @informe.nota12 %></td> </tr>
<tr><td >En razón de las actividades físicas y/o  recreativas, ¿cómo cree que han sido éstas en el último periodo?</td>  
<td> <%= @informe.nota13 %></td> </tr>
<tr><td >¿Cómo sientes que es el aporte que brinda su grupo de compañeros y/o amigos en su salud física y mental? </td> 
<td> <%= @informe.nota14 %></td> </tr>
<tr><td >¿Cuál crees que es el aporte que entrega su estado mental al rendimiento académico? </td>
<td> <%= @informe.nota15 %></td> </tr>
<tr><td><b>Promedio Salud Fisica y Mental: </b></td>
<td><b> <%=@informe.promsalud%></b></td></tr>
</table>

<h4><li><u>Observación</u></li></h4>
<table>
<td align="justify"><%=@informe.observacion%></td>
</table>
<br><br><br><br><br><br>

<center><h3>__________________________________</h3></center>
<center><h3><%=@informe.user.nombre%> <%=@informe.user.apellidopa%> <%=@informe.user.apellidoma%></center></h3>
<center><h3><%=@informe.user.rol.descripcion%></center></h3>
<center><h3><%= Time.now.strftime("%d/%m/%Y") %></center></h3>
<%end%>