<h1 class= "text-info"><u> Informe  <%= @informe.user.rol.descripcion %></h1> </u>

<p>Nombre de Profesional : <%= @informe.user.nombre %> <%= @informe.user.apellidopa %> <%= @informe.user.apellidoma%></p>
<p>Nombre Estudiante :  <%= @informe.estudiante.nombreestudiante %> <%= @informe.estudiante.apellidopa %> <%= @informe.estudiante.apellidoma%></p>
<p>Nota1:  <%= @informe.nota1 %></p>
<p>Nota2:  <%= @informe.nota2  %> </p>
<p>Nota3:  <%= @informe.nota3 %></p>
<p>Nota4:  <%= @informe.nota4 %></p>
<p>Nota5:  <%= @informe.nota5 %></p>
<p>Nota6:  <%= @informe.nota6 %></p>
<p>Nota7:  <%= @informe.nota7 %></p>
<p>Nota8:  <%= @informe.nota8 %></p>
<p>Nota9:  <%= @informe.nota9 %></p>
<p>Nota10: <%= @informe.nota10 %></p>
<p>Nota11: <%= @informe.nota11%></p>
<p>Nota12: <%= @informe.nota12%></p>
<p>Nota13: <%= @informe.nota13%></p>
<p>Nota14: <%= @informe.nota14%></p>
<p>Nota15: <%= @informe.nota15%></p>

<p>Fecha de Creacion : <%= @informe.created_at %></p>
