<div class="row row-eq-height row-flex-center full-height-login">
  <div class="col-md-4">
    <%= form_for(@user) do |f| %>
        <div class="form-inputs">
        
       
        <div class="form-group">
        <label for="formGroupExampleInput">Nombre </label>
        <%= f.text_field :nombre, placeholder:"Agregar Nombre" , class:"form-control"  %>
        </div>
        <div class="form-group">
        <label for="formGroupExampleInput">Primer Apellido </label>
        <%= f.text_field :apellidopa, placeholder:"Primer apellido" , class:"form-control"  %>
        </div>

        <div class="form-group">
        <label for="formGroupExampleInput">Segundo Apellido </label>
        <%= f.text_field :apellidoma, placeholder:"Ej:" , class:"form-control"  %>
        </div>
         <div class="form-group">
           <label for="formGroupExampleInput">Telefono </label>
           <%= f.text_field :telefono, placeholder:"Ej:" , class:"form-control"  %>
         </div>
      
        

        <div class="form-group">
        <label for="formGroupExampleInput">RUT  </label>
        <%= f.text_field :rut, placeholder:"Ej:" , class:"form-control"  %>
        </div>
        
        <div class="col">
        <div class="field">
          <%= f.label :fecha_nacimiento %><br/>
          <%= f.date_field :fecha_nacimiento, autofocus: true, class:"form-control" %>
        </div>
      </div>

        
        <div class="form-group">
        <label for="formGroupExampleInput">Facultad </label>
        <div class="dropdown">
        <%= f.collection_select :facultad_id, Facultad.all, :id, :nombrefacultad, {:include_blank => "Seleccionar Facultad"},{class: "btn btn-outline-info "}  %>
        </div>

        
        <div class="form-group">
        <label for="formGroupExampleInput">Facultad </label>
        <div class="dropdown">
        <%= f.collection_select :rol_id, Rol.all, :id, :descripcion, {:include_blank => "Seleccionar Rol"},{class: "btn btn-outline-info "}  %>
        </div>
          

        <div class="col">
        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Email" %>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col">
        <div class="field">
          <%= f.label :Contrase単a %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off", class:"form-control" , placeholder:"Contrase単a"%>
        </div><br>
      </div>
      <div class="col">
        <div class="field">
          <%= f.label :Confirmar_contrase単a %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirmar contrase単a" %>
        </div>
      </div>
      </div>


       

      <div class="form-actions">
      <%= f.submit "Guardar" ,class:"btn btn-info" %> 
      </div>
    <% end %>
  </div>
</div>
