<h1>Usuarios</h1>
<%flash.each do |name , msg| %>
  <div class="alert alert-<%= name %>">
    <%= msg %>
  </div>
<% end %>
<%= link_to 'Agregar Usuario', new_user_path, :class => "btn btn-info" %>
<Table class="table">
  <tr>
    <thead class="thead-dark">
    <th> Nombre  </th>
    <th> Rol </th>
		<th> Facultad </th>
		<th> Estado </th>
    <th> Opciones </th>
  </thead>
  </tr>

	<% @users.each do |t| %>
  <tr>
  <td><%= t.nombre %> <%= t.apellidopa %> <%=t.apellidoma%></td>
  <% unless t.rol.descripcion.nil? %>
  <td><%= t.rol.descripcion %></td>
  <%end%>
  <td><%= t.facultad.nombrefacultad %></td>
	<td class="text-success">
	<%if t.estado ==true %>
	Activo 
 <%else%> 
	Inactivo
<%end%>

	</td>
  <td>

  <%= link_to 'Mostrar',user_url(t), class:"btn btn-outline-success  btn-sm" %>
  <%= link_to 'Editar', edit_user_url(t), class:"btn btn-outline-warning  btn-sm" %>
  
	<% unless t.estado.nil? %>
	<% if t.estado == true %>
			
	  <%= link_to 'Cambiar estado', edit_user_url(t), class: "btn btn-danger btn-sm",
                        method: :delete, data: {confirm: '¿Estas seguro?'} %>
    <% end %>
	  <% end %>
</td>
</tr>
<%end%>
</table>


