<h1>Usuarios</h1>
<%= link_to 'Agregar Usuario', new_user_path, :class => "btn btn-primary" %>

<Table class="table">
  <tr>
    <thead class="thead-dark">
    <th> Nombre  </th>
    <th> Rol </th>
		<th> Facultad </th>
		<th> Estado </th>
    <th> Opciones </th>
  </thead>
  </tr>

	<% @users.each do |t| %>
  <tr>
  <td><%= t.nombre %> <%= t.apellidopa %> <%=t.apellidoma%></td>
  <td><%= t.rol.descripcion %></td>
  <td><%= t.facultad.nombrefacultad %></td>
	<td class="text-success">
	<%if t.estado ==true %>
	Activo 
 <%else%> 
	Inactivo
<%end%>

	</td>
  <td>

  <button type="button" class="btn btn btn-outline-success  btn-sm">
  <%= link_to "Mostrar" %>
  </button>
  <button type="button" class="btn btn-outline-warning  btn-sm">
  <%= link_to "Editar" %>
  </button>
	<% unless t.estado.nil? %>
	<% if t.estado == true %>
			
	  <%= link_to 'Cambiar estado', user_path(t), class: "btn btn-danger btn-sm",
                        method: :delete, data: {confirm: '¿Estas seguro?'} %>
    <% end %>
	  <% end %>
</td>
</tr>
<%end%>
</table>


