<h1> Crear Estudiante</h1>


<%=form_for(@estudiantes) do |f| %>

  <div class="form-group">
    <label for="formGroupExampleInput">Agregar Estudiante </label>
    <%= f.text_field:nombreestudiante, placeholder:"Agregar Nombre" , class:"form-control"  %>
    
  </div>

  <div class="form-group">
  <label for="formGroupExampleInput">Notas Enseñanza Media </label>
  <%= f.text_field:nem, placeholder:"Agregar Notas" , class:"form-control"  %>
   </div>

   <div class="form-group">
   <label for="formGroupExampleInput">Situacion Economica </label>
   <%= f.text_field:situacioneconomica, placeholder:"Situacion Socioeconomica" , class:"form-control"  %>
       </div>


    <div class="form-group">
   <label for="formGroupExampleInput">Colegio </label>
   <%= f.text_field:colegio, placeholder:"Colegio" , class:"form-control"  %>
   </div>

  <div class="form-group">
   <label for="formGroupExampleInput">Rankings</label>
   <%= f.text_field:ranking, placeholder:"Rankings" , class:"form-control"  %>
   </div>
   
   
  </div>
  </div>
 

   <%= f.submit "Guardar" ,class:"btn btn-primary" %> 
 
  <%end%>

 