

<h1> Facultades </h1>



<%= link_to 'Agregar Facultad', new_facultad_path, :class => "btn btn-info" %>


<Table class="table">
  <tr>
    <thead class="thead-dark">
    <th> Nombre Facultad </th>
    <th> Estado </th>
    <th> Fecha de Creacion </th>
    <th> Opciones </th>
  </thead>
  </tr>

  <% @facultades.each do |t| %>
    <tr>
      <td><%= t.nombrefacultad %></td>
      <td class="text-success">
      <%if t.estado ==true %>
      Activo 
     <%else%> 
      Inactivo
    <%end%>
     </td>    
      <td><%= t.created_at %></td>
      <td>

      <button type="button" class="btn btn btn-outline-success  btn-sm" " data-toggle="modal" data-target="#exampleModalLong">
      Mostrar
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Agregar Carrera</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
    
          <div class="container-form" font-size: 4px>
          <p>Nombres: <%= t.nombrefacultad %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary " data-dismiss="modal">Salir</button>
    
          </div>
        </div>
      </div>
    </div>
    </div>
     
     
     
    <%= link_to 'Editar', edit_facultad_url(t), class:"btn btn-outline-warning  btn-sm" %>




    <% unless t.estado.nil? %>
    <% if t.estado == true %>
        
      <%= link_to 'Cambiar estado', edit_facultad_url(t), class: "btn btn-danger btn-sm",
                          method: :delete, data: {confirm: '¿Estas seguro?'} %>
      <% end %>
      <% end %>
      </td>
      </tr>
  <% end %>
</table>








