<!DOCTYPE html>
<html>
  <head>
    <title>SAT UTEM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">SAT UTEM</span>

</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="https://cdn130.picsart.com/269267134014211.png?r1024x1024" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span><strong>Bienvenid@</strong></span><br>
      <%= current_user.nombre %><br>
      <%= current_user.rol.descripcion %> <br>     


    <% if signed_in? %>
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"btn btn btn-outline-secondary btn-sm"  %>
	    <% else %>
    <%= link_to "Registrarse", new_user_registration_path %>
    <%= link_to "Ingresar", new_user_session_path %>
  <% end %>
    </div>
  </div>
  
  <div class="w3-container">
    <p align="center">Sistema <br> de <br>Alerta temprana</p>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/page" class="w3-bar-item w3-button w3-button w3-light-blue"><i class="fa fa-users fa-fw"></i>  Inicio</a>

    <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-black w3-left-align"><i class="fa fa-user"></i> Estudiantes</button>
    <div id="Demo1" class="w3-hide w3-animate-zoom">
      <a href="#" class="w3-button w3-block w3-left-align">Ver estudiante</a>
      <a href="#" class="w3-button w3-block w3-left-align">Agregar Estudiante</a>
    </div>

    <% if current_user.rol.descripcion=='Administrador'%>
    <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-black w3-left-align"><i class="fa fa-group"></i> Profesionales</button>
    <div id="Demo2" class="w3-hide w3-animate-zoom">
      <a href="/users" class="w3-button w3-block w3-left-align">Ver profesionales</a>
      <a href="/users/new" class="w3-button w3-block w3-left-align">Agregar profesional</a>
    </div>
    <%end%>

    <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-black w3-left-align"><i class="fa fa-line-chart"></i> Informes</button>
    <div id="Demo3" class="w3-hide w3-animate-zoom">
      <a href="/informes" class="w3-button w3-block w3-left-align">Ver informes</a>
      <a href="/informes/new" class="w3-button w3-block w3-left-align">Crear informe</a>
    </div>

    <button onclick="myFunction('Demo4')" class="w3-button w3-block w3-black w3-left-align"><i class="fa fa-line-chart"></i> Alertas</button>
    <div id="Demo4" class="w3-hide w3-animate-zoom">
      <a href="#" class="w3-button w3-block w3-left-align">Ver alertas</a>
    </div>

    <% if current_user.rol.descripcion=='Administrador'%>
    <button onclick="myFunction('Demo4')" class="w3-button w3-block w3-black w3-left-align"><i class="fa fa-institution"></i> Administrar</button>
    <div id="Demo4" class="w3-hide w3-animate-zoom">
      <a href="/facultads" class="w3-button w3-block w3-left-align">Facultades</a>
      <a href="/carreras" class="w3-button w3-block w3-left-align">Carreras</a>
    </div>
    <%end%>
    <a href="/informacion" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-circle"></i>  Contacto</a>
    <img src="https://learnchile.cl/wp-content/uploads/2012/08/utem.png" alt="UTEM" width="280" height="180"> 

  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

          <div class="content">
            <%= yield %>
          </div>
    </div>
  </div>
  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
                      <!-- Footer -->
 <style>
.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}
</style>

<footer class="container-fluid bg-4 text-right">
  <p><br>Plataforma desarrollada por estudiantes de las carreras 2130 y 2141<br>
    2019 © UTEM - Todos los derechos reservados<br>
    <a href="http://www.utem.cl/">www.utem.cl</a></p><br>
</footer> 
</body>
</html>
